.Sidebar {
  position: fixed;
  height: 100vh;
  top: 0px;
  bottom: 0px;
  overflowY: auto;
}

.Container {
  position: absolute !important;
  margin-left: 22.5vw !important;
  width: 70vw !important;
}

.InnerContainer {
  height: 90vh !important;
}

.New {
  margin-top: 20vh !important;
  width: 50%;
}

.NewTwo {
  margin-top: 10vh !important;
  width: 50%;
}

.Button {
  margin-top: 3vh !important;
}

.Spacer {
  margin-top: 1vh !important;
}
